# Database
DB_USER=danamasjid
DB_PASSWORD=danamasjid123
DB_NAME=danamasjid

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this

# API
API_PORT=3001
API_URL=http://localhost:3001

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

# PgAdmin
PGADMIN_EMAIL=admin@danamasjid.com
PGADMIN_PASSWORD=admin123